.galleryCertificates {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.galleryCertificates img {
    width: 320px;
    height: 200px;
    object-fit: fill;
}

#certificates p {
    margin-bottom: 5rem;
}

@media screen and (max-width: 767px) {
    .galleryCertificates {
        flex-direction: column;
        align-items: center;
    }
}